<div class="contain">
  <div class="container footer text-white">
    <div class="row pt-5">
      <div class="col-md-4 text-center p-5">
        <h2 class="mb-2">LOCATION</h2>
        <p class="mb-3">2215 John Daniel Drive</p>
        <p class="mb-3">Clark, MO 65243</p>
      </div>
      <div class="col-md-4 text-center p-5">
        <h2 class="mb-2">AROUND THE WEB</h2>
        <i class="fa-brands fa-facebook mx-1 fa-lg circle"></i>
        <i class="fa-brands fa-x-twitter mx-1 fa-lg circle"></i>
        <i class="fa-brands fa-linkedin-in mx-1 fa-lg circle"></i>
        <i class="fa-solid fa-globe mx-1 fa-lg circle"></i>
      </div>
      <div class="col-md-4 text-center p-5">
        <h2 class="mb-2">ABOUT FREELANCER</h2>
        <p class="mb-3">
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
  <div class="copy-right text-center py-3">
    <p class="text-white py-1">Copyright © Your Website 2024</p>
  </div>
</div>
