<div
  class="contain text-center d-flex justify-content-center align-content-center py-4"
>
  <div class="contet text-center text-white py-4">
    <img
      src="../../assets/images/avataaars.svg"
      alt=""
      width="250px"
      class="mb-3"
    />
    <h1 class="fw-bolder mb-3">START FRAMEWORK</h1>
    <div class="shape d-flex justify-content-center align-content-center pb-4">
      <div class="line me-3 mt-1"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3 mt-1"></div>
    </div>
    <p class="pb-5">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</div>
