<div class="container my-5 boxContainer">
  <h1 class="text-center fw-bolder mt-5 mb-2">PORTFOLIO COMPONENT</h1>
  <div class="shape d-flex justify-content-center align-content-center pb-4">
    <div class="line me-3 mt-1"></div>
    <i class="fa-solid fa-star"></i>
    <div class="line ms-3 mt-1"></div>
  </div>
  <div class="row g-5">
    <div class="col-md-4">
      <!-- Button trigger modal -->
      <div class="item position-relative">
        <img src="../../assets/images/poert1.png" class="w-100" />
        <div
          class="overlay position-absolute w-100 rounded-2 d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i
            _ngcontent-ynq-c19=""
            class="text-white fa-solid fa-plus fa-6x plus"
          ></i>
        </div>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <img src="../../assets/images/poert1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Button trigger modal -->
      <div class="item position-relative">
        <img src="../../assets/images/port2.png" class="w-100" />
        <div
          class="overlay position-absolute w-100 rounded-2 d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal1"
        >
          <i
            _ngcontent-ynq-c19=""
            class="text-white fa-solid fa-plus fa-6x plus"
          ></i>
        </div>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal1"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <img src="../../assets/images/port2.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Button trigger modal -->
      <div class="item position-relative">
        <img src="../../assets/images/port3.png" class="w-100" />
        <div
          class="overlay position-absolute w-100 rounded-2 d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
        >
          <i
            _ngcontent-ynq-c19=""
            class="text-white fa-solid fa-plus fa-6x plus"
          ></i>
        </div>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <img src="../../assets/images/port3.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Button trigger modal -->
      <div class="item position-relative">
        <img src="../../assets/images/poert1.png" class="w-100" />
        <div
          class="overlay position-absolute w-100 rounded-2 d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal3"
        >
          <i
            _ngcontent-ynq-c19=""
            class="text-white fa-solid fa-plus fa-6x plus"
          ></i>
        </div>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal3"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <img src="../../assets/images/poert1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Button trigger modal -->
      <div class="item position-relative">
        <img src="../../assets/images/port2.png" class="w-100" />
        <div
          class="overlay position-absolute w-100 rounded-2 d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal4"
        >
          <i
            _ngcontent-ynq-c19=""
            class="text-white fa-solid fa-plus fa-6x plus"
          ></i>
        </div>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal4"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <img src="../../assets/images/port2.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Button trigger modal -->
      <div class="item position-relative">
        <img src="../../assets/images/port3.png" class="w-100" />
        <div
          class="overlay position-absolute w-100 rounded-2 d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal5"
        >
          <i
            _ngcontent-ynq-c19=""
            class="text-white fa-solid fa-plus fa-6x plus"
          ></i>
        </div>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal5"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <img src="../../assets/images/port3.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
